* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.6;
    color: white;
    background: rgb(33, 33, 33);
}

h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1rem;
}