header {
    border-bottom: solid 1px #FFFFFF33;
    
    display: flex;
    justify-content: space-between;

    .name {
        padding: 1rem 5rem;
    }

    .status {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.status {
    border-left: solid 1px #FFFFFF66;
}

.cursor {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}